{%extends 'base.html'%}

{%block content%}
<section>
	<img src="{{url_for('static', filename='img/land.jpg')}}" alt="" class="mainimg">	
</section>
<section class="services mt2 container-fluid">
	<div>
		<h1>Services</h1>
	</div>
	<div class="serv">
		<div class="ag-col">
			<i class="fas fa-server ag-icono"></i>
			<h3>Infraestructura</h3>
		</div>
		<div class="ag-col">
			<i class="fas fa-code ag-icono"></i>
			<h3>Desarrollo</h3>
		</div>
		<div class="ag-col">
				<i class="fas fa-brain ag-icono"></i>	
			<h3>&nbsp Soluciones<br>empresariales</h3>
		</div>
	</div>
	
</section>
<section>
	<h2>portfolio?</h2>
</section>
<section>
	<h2>customers?</h2>
</section>
<section>
	<h2>we help to make it happend - Contact us</h2>
</section>

{%endblock content%}